<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbbWAeB22kVGDzXYnuNHvveYwJQrYqHMY</string>
	<key>GCM_SENDER_ID</key>
	<string>563117198235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marvira</string>
	<key>PROJECT_ID</key>
	<string>marvira-biggame</string>
	<key>STORAGE_BUCKET</key>
	<string>marvira-biggame.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563117198235:ios:5b3e60cbb4338c9c3a2f3e</string>
	<key>CLIENT_ID</key>
	<string>563117198235-n46g12jl7itkh1535c9hlh8i5u4hrdbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563117198235-n46g12jl7itkh1535c9hlh8i5u4hrdbe</string>
</dict>
</plist>
